// Background Colors
$background_light_gray: #e9e9e9;
$background_dark_gray: #444444;

// Text Colors
$text_light_gray: #f3f3f3;
$text_dark_gray: #444444;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Grotesk', Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
}

.button-light {
    color: $text_dark_gray;
    background-color: $text_light_gray;
}

.button-light:hover {
    color: $text_light_gray;
    background-color: $background_dark_gray;
}

.button-clear {
    color: $text_light_gray
}

.button-clear:hover {
    color: $text_light_gray;
    background-color: $background_dark_gray;
}

.container {
    margin: 0 auto;
    padding: 60px;
}


// NAVBAR

.navbar {
    background-color: #313535;
    height: 60px;
    width: 100vw;
    position: fixed;
    z-index: 4;
    top: 0px;
    left: 0px;
    margin: 0px;
}

.nav-item {
    color: white;
}


// BANNER
.banner {
    height: 90vh;
    min-height: 750px;
    position: relative;
    background: url(images/panel.jpg) no-repeat center center/cover;
    font-family: 'Space Grotesk';
    font-weight: bolder;
    z-index: 3;
}

.banner::after {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    min-height: 750px;
    background: rgba(0,0,0, 0.75);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.banner h1 {
    z-index: 3;
    position: relative;
    color: $text_light_gray;
    font-size: 5rem;
    // font-weight: 900;
    padding: 120px 75px 0px 0px;
    margin-bottom: 50px;
}

.banner h4 {
    z-index: 3;
    position: relative;
    color: $text_light_gray;
    font-size: 4.5rem;
    padding: 0px 75px 0px 0px;
}

.text br {
    margin-top: 0px;
}

.banner {

    .columns {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        z-index: 3;

        .text {
            margin: 0px;
        }

        .icon {
            margin-top: 120px;
            z-index: 3;
        }
    }

    .buttons {
        display: flex;
        margin:70px 0px;
        padding-right: 400px;

        a {
        
            margin: 20px;
            z-index: 3;
        }
    }
}

#slogan-1 {
    padding-left: 0px;
}

#slogan-2 {
    padding-left: 320px;
}


// ABOUT
.about {
    background-color: $background_light_gray;

    .container {
        display: flex;
        flex-direction: row;
    }
    
    img {
        margin: 0px 30px 30px 0px;
    }
    
    h2 {
        font-size: 4rem;
        padding: 20px 30px 15px 10px;
        margin-top: 10px;
    }
    
    p {
        font-size: large;
        padding: 20px 30px 15px 10px;
    }
}


// COURSES
.courses-two-column {
    
    color: $text_light_gray;
    background: url(images/diamondplate.jpg);
    
    .shadow {
        background: rgba(0,0,0, 0.65);
    }

    .title-text {
        font-size: 4rem;
        text-align: center;
        padding: 0px 30px;
    }

    .columns {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .text {
        padding: 30px;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
        padding-top: 15px;
    }

}


// TEAM
.team {
    background-color: $background_light_gray;

    h1 {
        font-size: 4rem;
        text-align: center;
        padding: 20px 30px 15px 50px;
        margin-top: 10px;
    }

    .bio-cards {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .bio {
        padding: 50px;

        img {
            max-width: 450px;
        }
    }


}

.footer {
    background-color: $background_dark_gray;

    .logo {
        width: 66px;
        height: 72px;
    }
}

// https://www.youtube.com/watch?v=BFusIRFpX6c