* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(images/panel.jpg);
    background-size: cover;
    display: flex;
    width: auto;
    max-width: 100vw;
    height: auto;
    max-height: 100vh;
    font-family: "Noto Sans Display", sans-serif;
    text-align: center;
}

.container {
    background: rgba(0,0,0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-bottom: 40px;
    margin: auto;
}

.container > h2, h4, input, button {

}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.input {
    font-size: 1.5em;
    width: 270px;
    margin-bottom: 20px;
}

button {
    height: 44px;
    width: 130px;
    font-size: 1.25em;
    font-family: "Noto Sans Display", sans-serif;

}

footer{
    height: 50px;
}

@media(max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }
}